body{
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Roboto', sans-serif;
  
}


h1{
  margin: 0;
  font-weight: 400;
  
}

h2{
  margin: 0;
  font-weight: 400;
  display: inline-block;
  
}

.box{
  background: gray;
  width: 50rem;
  padding: 3rem;
  margin: 1rem auto;
  border-radius: 0.5rem; 
}

.header{
  display: grid;
  grid-template-columns: 40% 60%;
 
}

.header-left{
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.first-name{
  font-weight: 400;
  margin: 0;
}

.last-name{
  font-weight: 200;
  margin: 0;
}


  
}
